<footer class="d-block bg-dark" th:fragment="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <hr>
          <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
              <div>
                <p class="font-libre-baskerville-serif-footer-title" style="overflow: hidden; white-space: nowrap;">Sobre Nosotros</p>
                <p class="color-blanco font-mohave-footer">Somos una empresa manizalita dedicada a la fabricación y comercialización de prendas de descanso.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
              <hr class="d-lg-none d-sm-block d-md-block" style="border-color: rgb(116, 116, 116);">
              <div >
                <p class="font-libre-baskerville-serif-footer-title" style="overflow: hidden; white-space: nowrap;">Contactanos</p>
                <p class="color-blanco font-mohave-footer">Teléfono: (60 6) 8810673</p>
	            <p class="color-blanco mt-3 font-mohave-footer">Whatsapp: (+57) 314 884 3364</p>
                <p class="color-blanco font-mohave-footer">Correo: info@juanata.com.co</p>
              </div>
            </div>
            
		
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">

           		<hr class="d-lg-none d-sm-block d-md-block" style="border-color: rgb(116, 116, 116);">
           	    <p class="font-libre-baskerville-serif-footer-title" style="overflow: hidden; white-space: nowrap;">Siguenos</p>
           	
                <div class="row">
                   <a target="_blank" href="https://www.facebook.com/redes.juanata"><lottie-player th:src="@{/json/redes_sociales/facebook.json}" src="../static/json/redes_sociales/facebook.json"  background="transparent"  speed="3"  style="width: 80px; height: 80px;"  loop  autoplay></lottie-player></a>
                   <a target="_blank" href="https://www.instagram.com/pijamas_juanata/"><lottie-player th:src="@{/json/redes_sociales/instagram.json}" src="../static/json/redes_sociales/instagram.json"  background="transparent"  speed="4"  style="width: 80px; height: 80px;"  loop  autoplay></lottie-player></a>
                </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </footer>
  
  