<footer class="w-100 bg-light" th:fragment="footer">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <hr>
          <div class="row">
            <div class="col-4">
              <div>
                <p class="font-dancing-script-footer-title">Sobre Juanata</p>
                <p>Somos una empresa manizalita dedicada a la fabricación de prendas de descanso.</p>
              </div>
            </div>
            <div class="col-4">
              <div >
                <p class="font-dancing-script-footer-title"> Línea de Contacto</p>
                <p>Teléfono: (68) 810673</p>
                <p>Célular: (+57) 300 781 6557</p>
                <p>Correo: info@juanata.com.co</p>
              </div>
            </div>
            <div class="col-4">
              <p class="font-dancing-script-footer-title"> Redes Sociales</p>
              <div style="font-size: 2em;">
                <a href="https://www.instagram.com/pypjuanata/?hl=es-la"><i class="fa fa-instagram color-negro"></i></a>
                <a href="https://www.facebook.com/pypjuanata/?__tn__=%2Cd%2CP-R&eid=ARD16ZxE0jyHoF23C8nldKzp_X2NYML6x3X4BBnPJNN57C_596OeYB2pk7dgwaHD87Jlv3tCM5gWBTLo"><i class="fa fa-facebook-square color-negro"></i></a>
                <a href="https://www.facebook.com/pypjuanata/?__tn__=%2Cd%2CP-R&eid=ARD16ZxE0jyHoF23C8nldKzp_X2NYML6x3X4BBnPJNN57C_596OeYB2pk7dgwaHD87Jlv3tCM5gWBTLo"><i class="fa fa-brands fa-twitter color-negro"></i></i></a>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </footer>
  
  