<footer class="w-100 bg-dark" th:fragment="footer">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <hr>
          <div class="row">
            <div class="col-4">
              <div>
                <p class="font-dancing-script-footer-title" style="overflow: hidden; white-space: nowrap;">Sobre Nosotros</p>
                <p class="color-blanco font-Major-Mono-Display-footer">Somos una empresa manizalita dedicada a la fabricación de prendas de descanso.</p>
              </div>
            </div>
            <div class="col-4">
              <div >
                <p class="font-dancing-script-footer-title" style="overflow: hidden; white-space: nowrap;">Contactanos</p>
                <p class="color-blanco font-Major-Mono-Display-footer">Teléfono: (60 6) 8810673</p>
	            <p class="color-blanco mt-3 font-Major-Mono-Display-footer">Whatsapp: (+57) 314 884 3364</p>
                <p class="color-blanco font-Major-Mono-Display-footer">Correo: info@juanata.com.co</p>
              </div>
            </div>
            <div class="col-4">
              <p class="font-dancing-script-footer-title" style="overflow: hidden; white-space: nowrap;">Siguenos</p>
              <div class="row">
              <!-- 
                <a href="https://www.instagram.com/pypjuanata/?hl=es-la"><i class="fa fa-instagram color-azulPlata"></i></a>
                <a href="https://www.facebook.com/pypjuanata/?__tn__=%2Cd%2CP-R&eid=ARD16ZxE0jyHoF23C8nldKzp_X2NYML6x3X4BBnPJNN57C_596OeYB2pk7dgwaHD87Jlv3tCM5gWBTLo"><i class="fa fa-facebook-square color-azulPlata"></i></a>
                <a href="https://www.facebook.com/pypjuanata/?__tn__=%2Cd%2CP-R&eid=ARD16ZxE0jyHoF23C8nldKzp_X2NYML6x3X4BBnPJNN57C_596OeYB2pk7dgwaHD87Jlv3tCM5gWBTLo"><i class="fa fa-brands fa-twitter color-azulPlata"></i></a>
                 -->
                 <a target="_blank" href="https://www.facebook.com/redes.juanata"><lottie-player th:src="@{/json/redes_sociales/facebook.json}" src="../static/json/redes_sociales/facebook.json"  background="transparent"  speed="3"  style="width: 80px; height: 80px;"  loop  autoplay></lottie-player></a>
                 <a target="_blank" href="https://www.instagram.com/pijamas_juanata/"><lottie-player th:src="@{/json/redes_sociales/instagram.json}" src="../static/json/redes_sociales/instagram.json"  background="transparent"  speed="4"  style="width: 80px; height: 80px;"  loop  autoplay></lottie-player></a>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </footer>
  
  