<!--INICIO NAVBAR - MENU-->
<nav class="navbar fixed-top navbar-expand-lg bg-light" th:fragment="menu">
    <div class="mr-3">
        <img src="../img/logo.png">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--HEADER-->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active font-acme-cuerpo-gris-menu" th:href="@{/home}">Inicio</a>
            <a class="nav-item nav-link font-acme-cuerpo-gris-menu" th:href="@{/categorias/mujer}">Categorias</a>
            <a class="nav-item nav-link font-acme-cuerpo-gris-menu" th:href="@{/home}">Salud del Sueño</a>
            <a class="nav-item nav-link font-acme-cuerpo-gris-menu" th:href="@{/home}">Promociones</a>
            <a class="nav-item nav-link font-acme-cuerpo-gris-menu" th:href="@{/home}">Diseña tu pijama</a>
        </div>
    </div>
</nav>
<!--FIN NAVBAR - MENU-->