<!--INICIO NAVBAR - MENU-->
<nav class="navbar fixed-top  navbar-expand-sm navbar-expand-lg bg-light" th:fragment="menu">
    <div class="mr-3">
        <img src="../img/logo.png">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--HEADER-->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <ul class="navbar-nav mr-auto">
                <!--OPCION MENU INICIO-->
                <li class="nav-item">
                    <a class="nav-item nav-link font-acme-cuerpo-gris-menu badge badge-pill badge-juanataColor" th:href="@{/home}">INICIO</a>
                </li>
                <!--FIN OPCION MENU INICIO-->
                <!--OPCION MENU CATEGORIAS-->
                <li class="menu-item dropdown"><a href="#" class="dropdown-toggle nav-item nav-link font-acme-cuerpo-gris-menu badge badge-pill badge-juanataColor" data-toggle="dropdown">CATEGORIAS</a>
                    <ul class="dropdown-menu">
                        <li class="menu-item dropright dropdown-submenu">
                            <a th:href="@{/home}" class="dropdown-toggle nav-item nav-link font-acme-cuerpo-gris-menu badge badge-pill badge-juanataColor" data-toggle="dropdown">MUJER</a>
                            <ul class="dropdown-menu">
                                <li class="menu-item ">
                                    <a class="nav-item nav-link font-acme-cuerpo-gris-menu badge badge-pill badge-juanataColor" th:href="@{/categorias/mujer}">PIJAMAS</a>
                                </li>
                                <li class="menu-item ">
                                    <a class="nav-item nav-link font-acme-cuerpo-gris-menu badge badge-pill badge-juanataColor" href="#">PANTUFLAS</a>
                                </li>
                                <li class="menu-item dropright dropdown-submenu">
                                    <a href="#" class="dropdown-toggle nav-item nav-link font-acme-cuerpo-gris-menu badge badge-pill badge-juanataColor" data-toggle="dropdown">Y ALGO MÁS</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="nav-item nav-link font-acme-cuerpo-gris-menu badge badge-pill badge-juanataColor" href="#">CHAQUETAS</a>
                                        </li>
                                        <li>
                                            <a class="nav-item nav-link font-acme-cuerpo-gris-menu badge badge-pill badge-juanataColor" href="#">BODYS</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!--FIN OPCION MENU CATEGORIAS-->
                <!--OPCION MENU SALUD DEL SUEÑO-->
                <li class="nav-item">
                    <a class="nav-link font-acme-cuerpo-gris-menu badge badge-pill badge-juanataColor"
                        th:href="@{/home}">SALUD DEL SUEÑO</a>
                </li>
                <!--FIN OPCION MENU SALUD DEL SUEÑO-->
                <!--OPCION MENU PROMOCIONES-->
                <li class="nav-item">
                    <a class="nav-link font-acme-cuerpo-gris-menu badge badge-pill badge-juanataColor"
                        th:href="@{/home}">PROMOCIONES</a>
                </li>
                <!--FIN OPCION MENU PROMOCIONES-->
                <!--OPCION MENU DISEÑA TU PIJAMA-->
                <li class="nav-item">
                    <a class="nav-link font-acme-cuerpo-gris-menu badge badge-pill badge-juanataColor"
                        th:href="@{/home}">DISEÑA TU PIJAMA</a>
                </li>
                <!--FIN OPCION MENU DISEÑA TU PIJAMA-->
            </ul>
        </div>
    </div>
</nav>
<!--FIN NAVBAR - MENU-->