
.wrapper {
    min-height: 100vh;
}

.block {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.block__pic {
    width: 100%;
}

.block__title {
    margin-bottom: 30px;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
}