/*Inicio Tipos de letras */
/*Tipo de letra cursiva*/
.font-dancing-script-footer-title{
    font-family: 'Dancing Script', cursive;
    color: #e7e5e4;
    font-size: 2em;
}

.font-dancing-script{
    font-family: 'Dancing Script', cursive;
}

.font-dancing-script-menu{
    font-family: 'Dancing Script', cursive;
    color: rgb(0, 0, 106);
    font-size: 1em;
}

.font-pacifico-menu{
    font-family: 'Pacifico', cursive;
    color: rgb(0, 0, 106);
    font-size: 1em;
}

.font-acme-cuerpo-gris{
    font-family: 'Acme', sans-serif;
    color: rgb(116, 116, 116);
}

.font-acme-cuerpo-gris-menu{
    font-family: 'Acme', sans-serif;
    color: rgb(116, 116, 116);
    font-size: 1em;
    opacity: 1;
}

.font-acme-cuerpo-blanco-menu{
    font-family: 'Acme', sans-serif;
    color: white;
    font-size: 1em;
    opacity: 1;
}

.font-acme{
    font-family: 'Acme', sans-serif;
}

.font-shadows-into-light{
    font-family: 'Shadows Into Light', cursive;
}

.font-delius-unicase{
    font-family: 'Delius Unicase', cursive;
}

.font-acme-breadcrum-azul-juanata{
    font-family: 'Acme', sans-serif;
    color: rgb(0, 0, 106);
    font-size: 1em;
}

.font-dancing-script{
    font-family: 'Dancing Script', cursive;
}

.font-permanent-marker-menu{
    font-family: 'Permanent Marker', cursive;
}

.font-oswald-menu{
    font-family: 'Oswald', sans-serif;
    color: rgb(116, 116, 116);
    font-size: 1em;
}
/*Fin Tipos de letra*/

/*Inicio colores*/
.color-gris{
color: rgb(116, 116, 116);
}

.color-azulPlata{
color: rgb(69, 88, 107);
}

.color-rojo{
color: #dc3545;
}

.color-azulTurqueza{
color: rgb(56, 141, 226);
}

.color-azulJuanata{
color: rgb(0, 0, 106);
}

.color-dorado{
	color: rgb(204, 163, 82);
}

.color-negro{
	color: rgb(0,0,0);
}

.fondo-color-amanecer-1{
	background-color: rgb(0, 0, 51);
}
.fondo-color-amanecer-2{
	background-color: rgb(0, 0, 52);
}
.fondo-color-amanecer-3{
	background-color: rgb(0, 0, 53);
}
.fondo-color-amanecer-4{
	background-color: rgb(0, 0, 54);
}
.fondo-color-amanecer-5{
	background-color: rgb(0, 0, 55);
}
.fondo-color-amanecer-6{
	background-color: rgb(0, 0, 56);
}
.fondo-color-amanecer-7{
	background-color: rgb(0, 0, 57);
}
.fondo-color-amanecer-8{
	background-color: rgb(0, 0, 58);
}
.fondo-color-amanecer-9{
	background-color: rgb(0, 0, 59);
}
.fondo-color-amanecer-10{
	background-color: rgb(0, 0, 60);
}
.fondo-color-amanecer-11{
	background-color: rgb(0, 0, 61);
}
.fondo-color-amanecer-12{
	background-color: rgb(0, 0, 62);
}
.fondo-color-amanecer-13{
	background-color: rgb(0, 0, 63);
}
.fondo-color-amanecer-14{
	background-color: rgb(0, 0, 64);
}
.fondo-color-amanecer-15{
	background-color: rgb(0, 0, 65);
}
.fondo-color-amanecer-16{
	background-color: rgb(0, 0, 66);
}
.fondo-color-amanecer-17{
	background-color: rgb(0, 0, 67);
}
.fondo-color-amanecer-18{
	background-color: rgb(0, 0, 68);
}
.fondo-color-amanecer-19{
	background-color: rgb(0, 0, 69);
}
.fondo-color-amanecer-20{
	background-color: rgb(0, 0, 70);
}
.fondo-color-amanecer-21{
	background-color: rgb(0, 0, 71);
}
.fondo-color-amanecer-22{
	background-color: rgb(0, 0, 72);
}
.fondo-color-amanecer-23{
	background-color: rgb(0, 0, 73);
}
.fondo-color-amanecer-24{
	background-color: rgb(0, 0, 74);
}
.fondo-color-amanecer-25{
	background-color: rgb(0, 0, 75);
}
.fondo-color-amanecer-26{
	background-color: rgb(0, 0, 76);
}
.fondo-color-amanecer-27{
	background-color: rgb(0, 0, 77);
}
.fondo-color-amanecer-28{
	background-color: rgb(0, 0, 78);
}
.fondo-color-amanecer-29{
	background-color: rgb(0, 0, 79);
}
.fondo-color-amanecer-30{
	background-color: rgb(0, 0, 80);
}
.fondo-color-amanecer-31{
	background-color: rgb(0, 0, 81);
}
.fondo-color-amanecer-32{
	background-color: rgb(0, 0, 82);
}
.fondo-color-amanecer-33{
	background-color: rgb(0, 0, 83);
}
.fondo-color-amanecer-34{
	background-color: rgb(0, 0, 84);
}
.fondo-color-amanecer-35{
	background-color: rgb(0, 0, 85);
}
.fondo-color-amanecer-36{
	background-color: rgb(0, 0, 86);
}
.fondo-color-amanecer-37{
	background-color: rgb(0, 0, 87);
}
.fondo-color-amanecer-38{
	background-color: rgb(0, 0, 88);
}
.fondo-color-amanecer-39{
	background-color: rgb(0, 0, 89);
}
.fondo-color-amanecer-40{
	background-color: rgb(0, 0, 90);
}
.fondo-color-amanecer-41{
	background-color: rgb(0, 0, 91);
}
.fondo-color-amanecer-42{
	background-color: rgb(0, 0, 92);
}
.fondo-color-amanecer-43{
	background-color: rgb(0, 0, 93);
}
.fondo-color-amanecer-44{
	background-color: rgb(0, 0, 94);
}
.fondo-color-amanecer-45{
	background-color: rgb(0, 0, 95);
}
.fondo-color-amanecer-46{
	background-color: rgb(0, 0, 96);
}
.fondo-color-amanecer-47{
	background-color: rgb(0, 0, 97);
}
.fondo-color-amanecer-48{
	background-color: rgb(0, 0, 98);
}
.fondo-color-amanecer-49{
	background-color: rgb(0, 0, 99);
}
.fondo-color-amanecer-50{
	background-color: rgb(0, 0, 100);
}
.fondo-color-amanecer-51{
	background-color: rgb(0, 1, 100);
}
.fondo-color-amanecer-52{
	background-color: rgb(0, 2, 100);
}
.fondo-color-amanecer-53{
	background-color: rgb(0, 3, 100);
}
.fondo-color-amanecer-54{
	background-color: rgb(0, 4, 100);
}
.fondo-color-amanecer-55{
	background-color: rgb(0, 5, 100);
}
.fondo-color-amanecer-56{
	background-color: rgb(0, 6, 100);
}
.fondo-color-amanecer-57{
	background-color: rgb(0, 7, 100);
}
.fondo-color-amanecer-58{
	background-color: rgb(0, 8, 100);
}
.fondo-color-amanecer-59{
	background-color: rgb(0, 9, 100);
}
.fondo-color-amanecer-60{
	background-color: rgb(0, 10, 101);
}
.fondo-color-amanecer-61{
	background-color: rgb(0, 10, 102);
}
.fondo-color-amanecer-62{
	background-color: rgb(0, 10, 103);
}
.fondo-color-amanecer-63{
	background-color: rgb(0, 10, 104);
}
.fondo-color-amanecer-64{
	background-color: rgb(0, 10, 105);
}
.fondo-color-amanecer-65{
	background-color: rgb(0, 10, 106);
}
.fondo-color-amanecer-66{
	background-color: rgb(0, 10, 107);
}
.fondo-color-amanecer-67{
	background-color: rgb(0, 10, 108);
}
.fondo-color-amanecer-68{
	background-color: rgb(0, 10, 109);
}
.fondo-color-amanecer-69{
	background-color: rgb(0, 10, 110);
}
.fondo-color-amanecer-70{
	background-color: rgb(0, 11, 110);
}
.fondo-color-amanecer-71{
	background-color: rgb(0, 12, 110);
}
.fondo-color-amanecer-72{
	background-color: rgb(0, 13, 110);
}
.fondo-color-amanecer-73{
	background-color: rgb(0, 14, 110);
}
.fondo-color-amanecer-74{
	background-color: rgb(0, 15, 110);
}
.fondo-color-amanecer-75{
	background-color: rgb(0, 16, 110);
}
.fondo-color-amanecer-76{
	background-color: rgb(0, 17, 110);
}
.fondo-color-amanecer-77{
	background-color: rgb(0, 18, 110);
}
.fondo-color-amanecer-78{
	background-color: rgb(0, 19, 110);
}
.fondo-color-amanecer-79{
	background-color: rgb(0, 20, 110);
}
.fondo-color-amanecer-80{
	background-color: rgb(0, 10, 130);
}
.fondo-color-amanecer-81{
	background-color: rgb(0, 11, 131);
}
.fondo-color-amanecer-82{
	background-color: rgb(0, 12, 132);
}
.fondo-color-amanecer-83{
	background-color: rgb(0, 13, 133);
}
.fondo-color-amanecer-84{
	background-color: rgb(0, 14, 134);
}
.fondo-color-amanecer-85{
	background-color: rgb(0, 15, 135);
}
.fondo-color-amanecer-86{
	background-color: rgb(0, 16, 136);
}
.fondo-color-amanecer-87{
	background-color: rgb(0, 17, 137);
}
.fondo-color-amanecer-88{
	background-color: rgb(0, 18, 138);
}
.fondo-color-amanecer-89{
	background-color: rgb(0, 19, 139);
}
.fondo-color-amanecer-90{
	background-color: rgb(0, 20, 140);
}
.fondo-color-amanecer-91{
	background-color: rgb(0, 21, 141);
}
.fondo-color-amanecer-92{
	background-color: rgb(0, 22, 142);
}
.fondo-color-amanecer-93{
	background-color: rgb(0, 23, 143);
}
.fondo-color-amanecer-94{
	background-color: rgb(0, 24, 144);
}
.fondo-color-amanecer-95{
	background-color: rgb(0, 25, 145);
}
.fondo-color-amanecer-96{
	background-color: rgb(0, 26, 146);
}
.fondo-color-amanecer-97{
	background-color: rgb(0, 27, 147);
}
.fondo-color-amanecer-98{
	background-color: rgb(0, 28, 148);
}
.fondo-color-amanecer-99{
	background-color: rgb(0, 29, 149);
}
.fondo-color-amanecer-100{
	background-color: rgb(0, 30, 150);
}
.fondo-color-amanecer-101{
	background-color: rgb(0, 31, 151);
}
.fondo-color-amanecer-102{
	background-color: rgb(0, 32, 152);
}
.fondo-color-amanecer-103{
	background-color: rgb(0, 33, 153);
}
.fondo-color-amanecer-104{
	background-color: rgb(0, 34, 154);
}
.fondo-color-amanecer-105{
	background-color: rgb(0, 35, 155);
}
.fondo-color-amanecer-106{
	background-color: rgb(0, 36, 156);
}
.fondo-color-amanecer-107{
	background-color: rgb(0, 37, 157);
}
.fondo-color-amanecer-108{
	background-color: rgb(0, 38, 158);
}
.fondo-color-amanecer-109{
	background-color: rgb(0, 39, 159);
}
.fondo-color-amanecer-110{
	background-color: rgb(0, 40, 160);
}
.fondo-color-amanecer-111{
	background-color: rgb(0, 41, 161);
}
.fondo-color-amanecer-112{
	background-color: rgb(0, 42, 162);
}
.fondo-color-amanecer-113{
	background-color: rgb(0, 43, 163);
}
.fondo-color-amanecer-114{
	background-color: rgb(0, 44, 164);
}
.fondo-color-amanecer-115{
	background-color: rgb(0, 45, 165);
}
.fondo-color-amanecer-116{
	background-color: rgb(0, 46, 166);
}
.fondo-color-amanecer-117{
	background-color: rgb(0, 47, 167);
}
.fondo-color-amanecer-118{
	background-color: rgb(0, 48, 168);
}
.fondo-color-amanecer-119{
	background-color: rgb(0, 49, 169);
}
.fondo-color-amanecer-120{
	background-color: rgb(0, 50, 170);
}
.fondo-color-amanecer-121{
	background-color: rgb(0, 51, 171);
}

.fondo-color-rojo{
	background-color: #dc3545;
}

.fondo-color-azulTurqueza{
	background-color: rgb(56, 141, 226);
}
/*Fin colores*/

/*Efecto al pasar mouse encima de las opciones del menu*/
a.badge-juanataColor:hover, a.badge-juanataColor:focus {
    color: #fff;
    background-color: rgb(0, 0, 106);
}

a.badge-juanataColor:focus, a.badge-juanataColor.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(180, 190, 201, 0.5);
}
/*Efecto al pasar mouse encima de las opciones del menu*/

a.badge-colorGris:hover, a.badge-colorGris:focus {
    color: #fff;
    background-color: rgb(116, 116, 116);
}

a.badge-colorGris:focus, a.badge-colorGris.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(180, 190, 201, 0.5);
}

a.badge-colorGris:hover i, a.badge-colorGris:focus i{
    color: #fff;
}

/*Efecto al pasar mouse encima del icono ojo*/

a.badge-colorGris-ojo:hover, a.badge-colorGris-ojo:focus {
    color: blanchedalmond;
    background-color: rgb(116, 116, 116);
}

a.badge-colorGris-ojo:focus, a.badge-colorGris-ojo.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(180, 190, 201, 0.5);
}

a.badge-colorGris-ojo:hover i, a.badge-colorGris-ojo:focus i{
    color: blanchedalmond;
}

/*Efecto al pasar mouse encima del icono ojo blanco*/

a.badge-colorBlanco-ojo:hover, a.badge-colorBlanco-ojo:focus {
    color: rgb(110, 122, 147) !important;
    background-color: white;
}

a.badge-colorBlanco-ojo:focus, a.badge-colorBlanco-ojo.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(180, 190, 201, 0.5);
}

a.badge-colorBlanco-ojo:hover i, a.badge-colorBlanco-ojo:focus i{
    color: rgb(110, 122, 147) !important;
}

/*Efecto al pasar mouse encima de las tallas del detalle del producto*/

.badge-colorBlanchedalmond:hover, .badge-colorBlanchedalmond:focus {
    color: blanchedalmond;
    background-color: rgb(116, 116, 116);
}

.badge-colorBlanchedalmond:focus, .badge-colorBlanchedalmond.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(180, 190, 201, 0.5);
}

.badge-colorBlanchedalmond:hover label, .badge-colorBlanchedalmond:focus label{
    color: blanchedalmond;
}

.badge-colorAzulPlata:hover, .badge-colorAzulPlata:focus {
    color: white;
    background-color: rgb(110, 122, 147);
}

.badge-colorAzulPlata:focus, .badge-colorAzulPlata.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(180, 190, 201, 0.5);
}

.badge-colorAzulPlata:hover label, .badge-colorAzulPlata:focus label{
    color: white;
}

.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
}

.opacidad{
	opacity: 0.5;
}

.inner{
    overflow: hidden;
}

.inner img{
    transition: all 1.5s ease;
}

.inner:hover img{
    transform: scale(1.5);
}

.card-body:hover {
    background-color: rgb(110, 122, 147) !important;
    transition: all .5s ease-in-out;
}

.card-body:hover label, .card-body:hover h6{
    color: white !important;
    transition: all .5s ease-in-out;
}

label.texto-subrayado:hover{
    text-decoration: underline rgb(0, 0, 106);
}

.textoEncimaImg{
	display:none; 
  	transition: all .5s;
  	text-align: center;
}

/* Visible texto */
.figure:hover > a > label {
  display:block;
  transition: all .5s;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*PRUEBAAAA*/
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");
* {
  margin: 0;
  padding: 0;
}


.row .thumbex {
  width: 100%;
  min-width: 250px;
  max-width: 435px;
  height: 300px;
  outline: 2px solid white;
  outline-offset: -15px;
  background-color: blue;
}
.row .thumbex .thumbnail {
  overflow: hidden;
  min-width: 250px;
  height: 300px;
  position: relative;
  opacity: 0.88;
  backface-visibility: hidden;
  transition: all 0.4s ease-out;
}
.row .thumbex .thumbnail img {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  height: 115%;
  width: auto;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
}
.row .thumbex .thumbnail span {
  position: absolute;
  z-index: 2;
  top: calc(150px - 20px);
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 50px;
  margin: 0 45px;
  text-align: center;
  font-size: 24px;
  color: white;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.2px;
  transition: all 0.3s ease-out;
}
.row .thumbex .thumbnail:hover {
  backface-visibility: hidden;
  opacity: 1;
}
.row .thumbex .thumbnail:hover span {
  opacity: 0;
}

.animacionLogosDomicilio{
  animation-duration: 40s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}

.animacionTitulos{
  animation-duration: 5s;
  animation-name: slidein;
}

.animacionTituloTipsSuenno{
  animation-duration: 10s;
  animation-name: slidein-tips-suenno;
}

@keyframes slidein {
  from {
    margin-left: 80%;
    width: 80%
  }

  to {
    margin-left: 0%;
    width: 80%;
  } 
}

@keyframes slidein-tips-suenno {
  from {
    margin-left: 90%;
    width: 60%
  }

  to {
    margin-left: 0%;
    width: 100%;
  } 
}

.btn-wsp{
  	position: fixed;
  	width: 55px;
  	height: 55px;
  	line-height: 55px;
  	bottom: 30px;
  	right: 30px;
  	background: #0df053;
  	color: #fff;
  	border-radius: 50px;
  	text-align: center;
  	font-size: 30px;
  	box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  	z-index: 100;
  	fa-animation-duration: 0.5s;
}
  
.btn-wsp:hover{
  	text-decoration: none;
  	color: #0df053;
  	background: #fff;
}


/* Carta de colores */

/*Amarillo Palido*/
.carta-colores-amarillo-palido{
	color: rgb(254, 249, 43);
}

/*Amarillo Canario*/
.carta-colores-amarillo-canario{
	color: rgb(250, 244, 0);
}

/*Amarillo Limon*/
.carta-colores-amarillo-limon{
	color: rgb(240, 227, 1);
}

/*Amarillo Princesa*/
.carta-colores-amarillo-princesa{
	color: rgb(243, 211, 1);
}

/*Amarillo Turpial*/
.carta-colores-amarillo-turpial{
	color: rgb(250, 198, 0);
}

/*Amarillo Primario*/
.carta-colores-amarillo-primario{
	color: rgb(253, 196, 0);
}

/*Vainilla*/
.carta-colores-vainilla{
	color: rgb(251, 209, 105);
}

/*Arena*/
.carta-colores-arena{
	color: rgb(255, 248, 185);
}

/*Ivory*/
.carta-colores-ivory{
	color: rgb(255, 250, 211);
}

/*Amanecer*/
.carta-colores-amanecer{
	color: rgb(251, 255, 202);
}

/*Marfil*/
.carta-colores-marfil{
	color: rgb(255, 253, 233);
}

/*Blanco Luna*/
.carta-colores-blanco-luna{
	color: rgb(255, 254, 225);
}

/*Durazno*/
.carta-colores-durazno{
	color: rgb(255, 199, 127);
}

/*Amarillo Auyama*/
.carta-colores-amarillo-auyama{
	color: rgb(254, 161, 47);
}

/*Zanahora*/
.carta-colores-zanahoria{
	color: rgb(255, 98, 12);
}

/*Melocoton*/
.carta-colores-melocoton{
	color: rgb(231, 197, 154);
}

/*Naranja*/
.carta-colores-naranja{
	color: rgb(255, 90, 32);
}

/*Camaron*/
.carta-colores-camaron{
	color: rgb(245, 111, 83);
}

/*Coral*/
.carta-colores-coral{
	color: rgb(253, 162, 145);
}

/*Salmon*/
.carta-colores-salmon{
	color: rgb(248, 215, 183);
}

/*Piel Catira*/
.carta-colores-piel-catira{
	color: rgb(255, 241, 216);
}

/*Piel Bronceada*/
.carta-colores-piel-bronceada{
	color: rgb(231, 197, 154);
}

/*Piel Nuñeca*/
.carta-colores-piel-muneca{
	color: rgb(254, 207, 159);
}

/*Rubor Piel*/
.carta-colores-rubor-piel{
	color: rgb(249, 159, 121);
}

/*Piel Angelical*/
.carta-colores-piel-angelical{
	color: rgb(242, 205, 179);
}

/*Piel*/
.carta-colores-piel{
	color: rgb(248, 215, 183);
}

/*Moreno Claro*/
.carta-colores-moreno-claro{
	color: rgb(213, 170, 98);
}

/*Crema*/
.carta-colores-crema{
	color: rgb(255, 223, 195);
}

/*Melon*/
.carta-colores-melon{
	color: rgb(255, 206, 159);
}

/*Arequipe*/
.carta-colores-arequipe{
	color: rgb(177, 97, 67);
}

/*Tamarindo*/
.carta-colores-tamarindo{
	color: rgb(154, 73, 9);
}

/*Marron Rosy*/
.carta-colores-marron-rosy{
	color: rgb(149, 51, 20);
}

/*Marron Yogui*/
.carta-colores-marron-yogui{
	color: rgb(111, 47, 5);
}

/*Marron peluche*/
.carta-colores-marron-peluche{
	color: rgb(87, 41, 0);
}

/*Marron Coco*/
.carta-colores-marron-coco{
	color: rgb(75, 27, 2);
}

/*Canela*/
.carta-colores-canela{
	color: rgb(100, 35, 0);
}

/*Terracota Roja*/
.carta-colores-terracota-roja{
	color: rgb(102, 13, 0);
}

/*Rojo Indigena*/
.carta-colores-rojo-indigena{
	color: rgb(111, 15, 2);
}

/*Caramelo*/
.carta-colores-caramelo{
	color: rgb(73, 38, 0);
}

/*Marron tabaco*/
.carta-colores-marron-tabaco{
	color: rgb(66, 30, 1);
}

/*Chocolate*/
.carta-colores-chocolate{
	color: rgb(66, 45, 6);
}

/*Marron intenso*/
.carta-colores-marron-intenso{
	color: rgb(67, 20, 0);
}

/*Rojo Ladrillo*/
.carta-colores-rojo-ladrillo{
	color: rgb(149, 62, 35);
}

/*Arabico*/
.carta-colores-arabico{
	color: rgb(224, 173, 67);
}

/*Medano*/
.carta-colores-medano{
	color: rgb(189, 154, 31);
}

/*Malteada*/
.carta-colores-malteada{
	color: rgb(205, 169, 137);
}

/*Ocre*/
.carta-colores-ocre{
	color: rgb(207, 161, 69);
}

/*Wengue*/
.carta-colores-wengue{
	color: rgb(20, 8, 8);
}

/*Hueso*/
.carta-colores-hueso{
	color: rgb(209, 195, 145);
}

/*Beige Oscuro*/
.carta-colores-beige-oscuro{
	color: rgb(200, 147, 78);
}

/*Piel Canela*/
.carta-colores-piel-canela{
	color: rgb(188, 113, 27);
}

/*Terracota Amarilla*/
.carta-colores-terracota-amarilla{
	color: rgb(171, 104, 0);
}

/*Nispero*/
.carta-colores-nispero{
	color: rgb(146, 110, 13);
}

/*Mostaza*/
.carta-colores-mostaza{
	color: rgb(165, 117, 6);
}

/*Beige*/
.carta-colores-beige{
	color: rgb(221, 179, 104);
}

/*Avena*/
.carta-colores-avena{
	color: rgb(242, 235, 210);
}

/*Rosa Añejo*/
.carta-colores-rosa-anejo{
	color: rgb(207, 161, 69);
}

/*Rosa Country*/
.carta-colores-rosa-country{
	color: rgb(187, 70, 91);
}

/*Rosa Vieja*/
.carta-colores-rosa-vieja{
	color: rgb(203, 76, 100);
}

/*Mostaza Suave*/
.carta-colores-mostaza-suave{
	color: rgb(197, 145, 1);

}

/*Rojo Primario*/
.carta-colores-rojo-primario{
	color: rgb(234, 22, 37);
}

/*Carmin*/
.carta-colores-carmin{
	color: rgb(162, 3, 2);
}

/*Rojo Navidad*/
.carta-colores-rojo-navidad{
	color: rgb(201, 20, 26);
}

/*Rojo Santa*/
.carta-colores-rojo-santa{
	color: rgb(104, 0, 12);
}

/*Rojo Cereza*/
.carta-colores-rojo-cereza{
	color: rgb(153, 1, 25);
}

/*Vino Tinto*/
.carta-colores-vino-tinto{
	color: rgb(78, 0, 20);
}

/*Escarlata*/
.carta-colores-escarlata{
	color: rgb(230, 35, 35);
}

/*Escarlata Country*/
.carta-colores-escarlata-country{
	color: rgb(225, 69, 78);
}

/*Coralina*/
.carta-colores-coralina{
	color: rgb(246, 83, 102);
}

/*Rosado*/
.carta-colores-rosado{
	color: rgb(255, 111, 141);
}

/*Crema Rosa*/
.carta-colores-crema-rosa{
	color: rgb(245, 203, 222);
}

/*Vino Añejo*/
.carta-colores-vino-anejo{
	color: rgb(106, 20, 26);
}

/*Magenta*/
.carta-colores-magenta{
	color: rgb(180, 1, 107);
}

/*Uva*/
.carta-colores-uva{
	color: rgb(129, 27, 95);
}

/*Fucsia*/
.carta-colores-fucsia{
	color: rgb(205, 50, 123);
}

/*Rosita*/
.carta-colores-rosita{
	color: rgb(255, 221, 233);
}

/*Fresita*/
.carta-colores-fresita{
	color: rgb(245, 203, 222);
}

/*Mora*/
.carta-colores-mora{
	color: rgb(223, 122, 186);
}

/*Purpura*/
.carta-colores-purpura{
	color: rgb(102, 54, 111);
}

/*Violeta Suave*/
.carta-colores-violeta-suave{
	color: rgb(85, 77, 157);
}

/*Violeta Intenso*/
.carta-colores-violeta-intenso{
	color: rgb(44, 28, 111);
}

/*Morado*/
.carta-colores-morado{
	color: rgb(79, 39, 114);
}

/*Lila*/
.carta-colores-lila{
	color: rgb(127, 110, 186);
}

/*Orquidea*/
.carta-colores-orquidea{
	color: rgb(177, 163, 207);
}

/*Azul Cobalto*/
.carta-colores-azul-cobalto{
	color: rgb(6, 4, 55);
}

/*Azul Nocturno*/
.carta-colores-azul-nocturno{
	color: rgb(7, 32, 62);
}

/*Azul Intenso*/
.carta-colores-azul-intenso{
	color: rgb(0, 5, 85);
}

/*Azul Ultramar*/
.carta-colores-azul-ultramar{
	color: rgb(17, 0, 158);
}

/*Cobalto claro*/
.carta-colores-cobalto-claro{
	color: rgb(79, 113, 211);
}

/*Azul Seda*/
.carta-colores-azul-seda{
	color: rgb(91, 95, 182);
}

/*Azul Zafiro*/
.carta-colores-azul-zafiro{
	color: rgb(7, 18, 64);
}

/*Cobalto Medio*/
.carta-colores-cobalto-medio{
	color: rgb(13, 32, 128);
}

/*Zafiro Medio*/
.carta-colores-zafiro-medio{
	color: rgb(0, 62, 139);
}

/*Azul Royal*/
.carta-colores-azul-royal{
	color: rgb(42, 50, 124);
}

/*Azul Petunia*/
.carta-colores-azul-petunia{
	color: rgb(53, 56, 92);
}

/*Azul Country*/
.carta-colores-azul-country{
	color: rgb(31, 70, 109);
}

/*Azul rey*/
.carta-colores-azul-rey{
	color: rgb(0, 51, 143);
}

/*Azul Primario*/
.carta-colores-azul-primario{
	color: rgb(11, 6, 94);
}

/*Celeste*/
.carta-colores-celeste{
	color: rgb(55, 130, 218);
}

/*Azul Suave*/
.carta-colores-azul-suave{
	color: rgb(89, 158, 212);
}

/*Azul bebe*/
.carta-colores-azul-bebe{
	color: rgb(105, 150, 199);
}

/*Azul Cielo*/
.carta-colores-azul-cielo{
	color: rgb(0, 92, 172);
}

/*Azul Bahia*/
.carta-colores-azul-bahia{
	color: rgb(19, 76, 91);
}

/*Turquesa Intenso*/
.carta-colores-turquesa-intenso{
	color: rgb(0, 37, 65);
}

/*Turquesa Suave*/
.carta-colores-turquesa-suave{
	color: rgb(0, 119, 129);
}

/*Azul Turquesa*/
.carta-colores-azul-turquesa{
	color: rgb(22, 172, 149);
}

/*Cielo*/
.carta-colores-cielo{
	color: rgb(176, 207, 231);
}

/*Azul Pastel*/
.carta-colores-azul-pastel{
	color: rgb(194, 225, 242);
}

/*Iris*/
.carta-colores-iris{
	color: rgb(172, 218, 164);
}

/*Verde Menta*/
.carta-colores-verde-menta{
	color: rgb(0, 56, 46);
}

/*Aguamarina*/
.carta-colores-aguamarina{
	color: rgb(77, 209, 181);
}

/*Verde Turquesa*/
.carta-colores-verde-turquesa{
	color: rgb(22, 172, 149);
}

/*Verde Bahia*/
.carta-colores-verde-bahia{
	color: rgb(59, 94, 85);
}

/*Verde Mar*/
.carta-colores-verde-mar{
	color: rgb(197, 237, 228);
}

/*Verde Lima*/
.carta-colores-verde-lima{
	color: rgb(181, 227, 76);
}

/*Periquito*/
.carta-colores-periquito{
	color: rgb(213, 230, 102);
}

/*Verde Agua*/
.carta-colores-verde-agua{
	color: rgb(118, 194, 103);
}

/*Verde Manzana*/
.carta-colores-verde-manzana{
	color: rgb(44, 150, 0);
}

/*Verde Limon*/
.carta-colores-verde-limon{
	color: rgb(59, 117, 41);
}

/*Verde Esmeralda*/
.carta-colores-verde-esmeralda{
	color: rgb(0, 102, 26);
}

/*Verde Botella*/
.carta-colores-verde-botella{
	color: rgb(0, 57, 42);
}

/*Verde Pascua*/
.carta-colores-verde-pascua{
	color: rgb(0, 60, 48);
}

/*Verde Fiesta*/
.carta-colores-verde-fiesta{
	color: rgb(6, 28, 7);
}

/*Verde Navidad*/
.carta-colores-verde-navidad{
	color: rgb(0, 87, 19);
}

/*Verde Bosque*/
.carta-colores-verde-bosque{
	color: rgb(60, 87, 44);
}

/*Piedra de rio*/
.carta-colores-piedra-de-rio{
	color: rgb(110, 112, 75);
}

/*Verde Amazonas*/
.carta-colores-verde-amazonas{
	color: rgb(10, 51, 35);
}

/*Verde Tropical*/
.carta-colores-verde-tropical{
	color: rgb(0, 65, 23);
}

/*Verde Sombra*/
.carta-colores-verde-sombra{
	color: rgb(6, 28, 7);
}

/*Verde Olivia*/
.carta-colores-verde-olivia{
	color: rgb(57, 64, 30);
}

/*Verde Aceituna*/
.carta-colores-verde-aceituna{
	color: rgb(79, 79, 17);
}

/*Verde Salvia*/
.carta-colores-verde-salvia{
	color: rgb(127, 122, 56);
}

/*Gris Plomo*/
.carta-colores-gris-plomo{
	color: rgb(92, 92, 92);
}

/*Gris Humo*/
.carta-colores-gris-humo{
	color: rgb(115, 115, 115);
}

/*Gris Sage*/
.carta-colores-gris-sage{
	color: rgb(193, 201, 180);
}

/*Verde Sábila*/
.carta-colores-verde-sabila{
	color: rgb(77, 120, 103);
}

/*Amarillo Oliva*/
.carta-colores-amarillo-oliva{
	color: rgb(196, 188, 64);
}

/*Carbon Ceniza*/
.carta-colores-carbon-ceniza{
	color: rgb(56, 56, 66);
}

/*Gris Claro*/
.carta-colores-gris-claro{
	color: rgb(231, 233, 222);
}

/*Gris Azulado*/
.carta-colores-gris-azulado{
	color: rgb(46, 70, 94);
}

/*Gris Violeta*/
.carta-colores-gris-violeta{
	color: rgb(52, 12, 10);
}

/*Negro*/
.carta-colores-negro{
	color: rgb(0, 0, 0);
}

/*Crema de Piña*/
.carta-colores-crema-de-pinna{
	color: rgb(240, 255, 164);
}

/*Rojo Tinto*/
.carta-colores-rojo-tinto{
	color: rgb(89, 0, 4);
}

/*Piel Africana*/
.carta-colores-piel-africana{
	color: rgb(36, 17, 10);
}

/*Piel Mulata*/
.carta-colores-piel-mulata{
	color: rgb(52, 12, 10);
}

/*Acrilfondo*/
.carta-colores-acrilfondo{
	color: rgb(204, 180, 118);
}

/*Blanco Extra*/
.carta-colores-blanco-extra{
	color: rgb(209, 209, 207);
}

/*Crema de Lima*/
.carta-colores-crema-de-lima{
	color: rgb(204, 232, 148);
}

/*Crema de Limon*/
.carta-colores-crema-de-limon{
	color: rgb(164, 219, 161);
}

/*Crema de Parchita*/
.carta-colores-crema-de-parchita{
	color: rgb(255, 227, 159);
}

/*Crema de Melon*/
.carta-colores-crema-de-melon{
	color: rgb(255, 162, 121);
}

/*Crema de Cereza*/
.carta-colores-crema-de-cereza{
	color: rgb(245, 130, 159);
}

/*Crema de Fresa*/
.carta-colores-crema-de-fresa{
	color: rgb(255, 135, 192);
}

/*Amarillo Neón fluorescente*/
.carta-colores-amarillo-neon-fluorescente{
	color: rgb(223, 247, 1);
}

/*Maracuya Neón fluorescente*/
.carta-colores-maracuya-neon-fluorescente{
	color: rgb(254, 169, 42);
}

/*Naranja Neón fluorescente*/
.carta-colores-naranja-neon-fluorescente{
	color: rgb(255, 74, 9);
}

/*Verde Neón fluorescente*/
.carta-colores-verde-neon-fluorescente{
	color: rgb(2, 126, 2);
}

/*Rojo Neón Fluorescente*/
.carta-colores-rojo-neon-fluorescente{
	color: rgb(255, 0, 42);
}

/*Rosa Neón fluorescente*/
.carta-colores-rosa-neon-fluroescente{
	color: rgb(255, 2, 108);
}

/*Magenta Neón fluorescente*/
.carta-colores-magenta-neon-fluorescente{
	color: rgb(217, 0, 89);
}
	

/* Fin Carta de colores */

body {
	display: flex;
	flex-direction: column;
	
	min-height: 100vh;
}

footer {
	margin-top: auto;
}

.fondo-salud-del-suenno{
	background: linear-gradient(to bottom, rgb(0,0,50), rgb(0,80,170), rgb(0,120,200));
	background-size: 100%;
	background-repeat: no-repeat;
}

.fondo-salud-del-suenno:before{
	content:'';
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
	background: linear-gradient(to top bottom, rgb(0,0,50), rgb(0,80,170) 75%);
}

.estrellas-parpadeando-1{
	animation-duration: 3s;
  	animation-name: papadear;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
	
}

.estrellas-parpadeando-2{
	animation-duration: 3500ms;
  	animation-name: papadear;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
	
}

.estrellas-parpadeando-3{
	animation-duration: 4s;
  	animation-name: papadear;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
	
}

.estrellas-parpadeando-4{
	animation-duration: 4500s;
  	animation-name: papadear;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;	
}

.estrellas-parpadeando-5{
	animation-duration: 5s;
  	animation-name: papadear;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;	
}

.aurora-boreal{
	position: absolute;
	animation-duration: 10s;
  	animation-name: papadear;
}

@keyframes papadear{
	0% { opacity: 0; }
	5% { opacity: 0,5; }
	10% { opacity: 0,1; }
	15% { opacity: 0,15; }
  	20% { opacity: 0,2; }
  	25% { opacity: 0,25; }
  	30% { opacity: 0,3; }
  	35% { opacity: 0,35; }
  	40% { opacity: 0,4; }
  	45% { opacity: 0,45; }
  	50% { opacity: 0,5; }
  	55% { opacity: 0,55; }
  	60% { opacity: 0,6; }
  	65% { opacity: 0,65; }
  	70% { opacity: 0,7; }
  	75% { opacity: 0,75; }
  	80% { opacity: 0,8; }
  	85% { opacity: 0,85; }
  	90% { opacity: 0,9; }
  	95% { opacity: 0,95; }
  	100% { opacity: 1; }
}

.fadeTop {
  opacity: 0; 
  transform: translate(0, 20vh);
  transition: all 40s;
}

.fadeRight {
  opacity: 0;
  transform: translate(-100vh, 0vh);
  transition: all 40s;
}

.fadeLeft {
  opacity: 0;
  transform: translate(50vh, 0vh);
  transition: all 40s;
}

.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.div-salud-del-suenno-nubes {
  height: 30vh;
}

.div-salud-del-suenno-nubes-2 {
  height: 3vh;
}

.div-salud-del-suenno-circulos-con-tips {
  height: 70vh;
}

.div-salud-del-suenno-circulos-con-tips-2 {
  height: 35vh;
}

.div-salud-del-suenno-sin-contenido-1 {
  height: 40vh;
}

.div-salud-del-suenno-sin-contenido-2 {
  height: 15vh;
}

.content {
/*   display: grid;  */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
  opacity: 1;
  transform: translate(0, 0);
  transition: all 1s;
  margin: 0;
  
}

.content > div {
  margin: 0 auto;
  align-items: center;
  width: 30%;
  height: 100%;
/*   grid-area: 2 / 2 / 2 / 2; */
}

.animacion-escribir{	
	animation: typing 4s steps(15) infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}



/* Media Query for Mobile Devices */
 @media (max-width: 480px) {
     .altura-por-dispositivo{
     	height: 250px;
     }
     
     .altura-texto-nueva-coleccion{
     	height: 200px
     }
     
     .textos-elegantes {
		font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
		  "AppleGothic", sans-serif;
		font-size: 40px;
		padding: 80px 50px;	
		text-align: center;
		text-transform: uppercase;
		text-rendering: optimizeLegibility;
	}
 }
   
 /* Media Query for low resolution  Tablets, Ipads */
 @media (min-width: 481px) and (max-width: 767px) {
     .altura-por-dispositivo{
     	height: 250px;
     }
     
     .altura-texto-nueva-coleccion{
     	height: 200px
     }
     
     .textos-elegantes {
		font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
		  "AppleGothic", sans-serif;
		font-size: 40px;
		padding: 80px 50px;	
		text-align: center;
		text-transform: uppercase;
		text-rendering: optimizeLegibility;
	}
 }
   
 /* Media Query for Tablets Ipads portrait mode */
 @media (min-width: 768px) and (max-width: 1024px){
     .altura-por-dispositivo{
     	height: 250px;
     }
     
     .altura-texto-nueva-coleccion{
     	height: 200px
     }
     
     .textos-elegantes {
		  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
		    "AppleGothic", sans-serif;
		  font-size: 40px;
		  padding: 80px 50px;
		  text-align: center;
		  text-transform: uppercase;
		  text-rendering: optimizeLegibility;
	}
 }
   
 /* Media Query for Laptops and Desktops */
 @media (min-width: 1025px) and (max-width: 1280px){
     .altura-por-dispositivo{
     	height: 50vh;
     }
     
     .altura-texto-nueva-coleccion{
     	height: 250px
     }
     
     .textos-elegantes {
		  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
		    "AppleGothic", sans-serif;
		  font-size: 92px;
		  padding: 80px 50px;
		  text-align: center;
		  text-transform: uppercase;
		  text-rendering: optimizeLegibility;
	}
     
 }
   
 /* Media Query for Large screens */
 @media (min-width: 1281px) {   
     .altura-por-dispositivo{
     	height: 50vh;
     }
     
     .altura-texto-nueva-coleccion{
     	height: 250px
     }
     
     .textos-elegantes {
		  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
		    "AppleGothic", sans-serif;
		  font-size: 92px;
		  padding: 80px 50px;
		  text-align: center;
		  text-transform: uppercase;
		  text-rendering: optimizeLegibility;
	}
 }

.elegantshadow {
    color: #131313;
    background-color: #e7e5e4;
    letter-spacing: 0.15em;
    text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474,
      -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d,
      -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89,
      -9px 18px 1px #8f8e8d, -10px 20px 1px #949392, -11px 22px 1px #999897,
      -12px 24px 1px #9e9c9c, -13px 26px 1px #a3a1a1, -14px 28px 1px #a8a6a6,
      -15px 30px 1px #adabab, -16px 32px 1px #b2b1b0, -17px 34px 1px #b7b6b5,
      -18px 36px 1px #bcbbba, -19px 38px 1px #c1bfbf, -20px 40px 1px #c6c4c4,
      -21px 42px 1px #cbc9c8, -22px 44px 1px #cfcdcd, -23px 46px 1px #d4d2d1,
      -24px 48px 1px #d8d6d5, -25px 50px 1px #dbdad9, -26px 52px 1px #dfdddc,
      -27px 54px 1px #e2e0df, -28px 56px 1px #e4e3e2;
  }
  .deepshadow {
    color: #e0dfdc;
    background-color: #333;
    letter-spacing: 0.1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c,
      0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424,
      0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c,
      0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414,
      0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
  }
  .insetshadow {
    color: #202020;
    background-color: #2d2d2d;
    letter-spacing: 0.1em;
    text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
  }
  .retroshadow {
    color: #2c2c2c;
    background-color: #d5d5d5;
    letter-spacing: 0.05em;
    text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
  }
  
  .container-fluid {
  margin: 0;
  padding: 0;
}
.container-fluid .row {
  margin: 0;
  padding: 0;
}


.dropdown:hover > .dropdown-menu {
  display: block;
}

.megamenu {
  position: static;
}
.megamenu .dropdown-menu {
  border: none;
  width: 100%;
}


.texto-oculto-circulo{
	background: rgb(140, 66, 142);
	padding: 1em;
	border-radius: 10px;
	width: 250px;
	clip-path: circle(9% at 90% 13%);
	transition: all 0.5s ease-in-out;
	cursor: pointer;
	float: left;
	justify-items: center !important;
  	align-items: center !important;
  	opacity: 0.6;
}

.texto-oculto-circulo:hover{
	clip-path: circle(75%);
  	background: rgb(140, 66, 142);
}

.texto-oculto-circulo span {
  float: right;
  color: white;
  font-weight: bold;
  transition: color 0.5s;
  position: relative;
  margin-right: 4%;
}
.texto-oculto-circulo:hover span {
  color: rgba(255, 255, 255, 0);
}
.texto-oculto-circulo h1 {
  color: black;
  margin: 0;
}
.texto-oculto-circulo p {
  color: white;
  font-size: 0.8rem;
}
