/*Inicio Tipos de letras */
/*Tipo de letra cursiva*/
.font-dancing-script-footer-title{
    font-family: 'Dancing Script', cursive;
    color: rgb(0, 0, 106);
    font-size: 2em;
}

.font-dancing-script{
    font-family: 'Dancing Script', cursive;
}

.font-dancing-script-menu{
    font-family: 'Dancing Script', cursive;
    color: rgb(0, 0, 106);
    font-size: 1em;
}

.font-pacifico-menu{
    font-family: 'Pacifico', cursive;
    color: rgb(0, 0, 106);
    font-size: 1em;
}

.font-acme-cuerpo-gris{
    font-family: 'Acme', sans-serif;
    color: rgb(116, 116, 116);
}

.font-acme-cuerpo-gris-menu{
    font-family: 'Acme', sans-serif;
    color: rgb(116, 116, 116);
    font-size: 1em;
}

.font-acme{
    font-family: 'Acme', sans-serif;
}

.font-shadows-into-light{
    font-family: 'Shadows Into Light', cursive;
}

.font-delius-unicase{
    font-family: 'Delius Unicase', cursive;
}

.font-acme-breadcrum-azul-juanata{
    font-family: 'Acme', sans-serif;
    color: rgb(0, 0, 106);
    font-size: 1em;
}

.font-dancing-script{
    font-family: 'Dancing Script', cursive;
}

.font-permanent-marker-menu{
    font-family: 'Permanent Marker', cursive;
}

.font-oswald-menu{
    font-family: 'Oswald', sans-serif;
    color: rgb(116, 116, 116);
    font-size: 1em;
}
/*Fin Tipos de letra*/

/*Inicio colores*/
.color-gris{
color: rgb(116, 116, 116);
}

.color-rojo{
color: #dc3545;
}

.color-azulTurqueza{
color: rgb(56, 141, 226);
}

.color-azulJuanata{
color: rgb(0, 0, 106);
}
/*Fin colores*/

/*Efecto al pasar mouse encima de las opciones del menu*/
a.badge-juanataColor:hover, a.badge-juanataColor:focus {
    color: #fff;
    background-color: rgb(0, 0, 106);
}

a.badge-juanataColor:focus, a.badge-juanataColor.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(180, 190, 201, 0.5);
}
/*Efecto al pasar mouse encima de las opciones del menu*/

a.badge-colorGris:hover, a.badge-colorGris:focus {
    color: #fff;
    background-color: rgb(116, 116, 116);
}

a.badge-colorGris:focus, a.badge-colorGris.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(180, 190, 201, 0.5);
}

a.badge-colorGris:hover i, a.badge-colorGris:focus i{
    color: #fff;
}

.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
}

/*
.inner{
    overflow: hidden;
}

.inner img{
    transition: all 1.5s ease;
}

.inner:hover img{
    transform: scale(1.5);
}*/
