<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel Administrador - Productos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}">
</head>
<body>
<div th:replace="fragments/menu :: menu"></div>

<div class="container mt-4">
    <h1>Panel administrador - Productos</h1>

    <div th:if="${param.exito}">
        <div class="alert alert-success">Producto actualizado correctamente.</div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Ruta foto</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="producto : ${productos}">
            <td th:text="${producto.id}"></td>
            <td th:text="${producto.nombre}"></td>
            <td th:text="${producto.precio}"></td>
            <td th:text="${producto.rutaFoto}"></td>
            <td>
                <a th:href="@{'/usuario/admin/producto/' + ${producto.id} + '/editar'}" class="btn btn-sm btn-primary">Editar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
