<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}" href="../static/css/stylesheet.css">

    <!--Favicons-->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script th:src="@{/js/scripts.js}" src="../static/js/scripts.js"></script>

    <!--Google Font-->
    <link
        href="https://fonts.googleapis.com/css2?family=Acme&family=Dancing+Script:wght@700&family=Pacifico&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

    <title>Pijamas y Pantuflas juanata</title>

</head>

<body>
    <!--INICIO NAVBAR - MENU-->
    <div th:replace="fragments/menu :: menu"></div>
    <!--FIN NAVBAR - MENU-->

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row" style="margin-top: 90px;">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb bg-transparent">
                              <li class="breadcrumb-item"><a class="font-acme-cuerpo-gris-menu badge badge-pill badge-colorGris" href="#">Inicio</a></li>
                              <li class="breadcrumb-item"><a class="font-acme-cuerpo-gris-menu badge badge-pill badge-colorGris" href="#">Mujer</a></li>
                              <li class="breadcrumb-item font-acme-cuerpo-gris-menu active" aria-current="page">Pijamas</li>
                            </ol>
                          </nav>
                    </div>
                </div>
                <div class="row">   
                    <div class="col-3">
                        <div class="card" onmouseover="masInfoPijama(this)" onmouseout="menosInfoPijama(this)">
                            <img src="../img/categorias/mujeres/_MG_8109.jpg" class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <h6>Tercera pijama de prueba</h6>
                                <p>Precio: $10000000</p>
                                <div style="display: none;">
                                    <i class="fa fa-circle color-azulTurqueza"></i>
                                    <i class="fa fa-circle color-rojo"></i>
                                    <i class="fa fa-circle color-gris"></i>
                                    <br>
                                    <a href="#" class="badge badge-pill badge-colorGris"><i class="fa fa-eye color-gris" style="font-size: 3em;"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" onmouseover="masInfoPijama(this)" onmouseout="menosInfoPijama(this)">
                            <img src="../img/categorias/mujeres/_MG_8109.jpg" class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <h6>Tercera pijama de prueba</h6>
                                <p>Precio: $10000000</p>
                                <div style="display: none;">
                                    <i class="fa fa-circle color-azulTurqueza"></i>
                                    <i class="fa fa-circle color-rojo"></i>
                                    <i class="fa fa-circle color-gris"></i>
                                    <br>
                                    <a href="#" class="badge badge-pill badge-colorGris"><i class="fa fa-eye color-gris" style="font-size: 3em;"></i></a>
                                </div>
                                <!--<a href="#" class="btn btn-primary">Ver Pijama</a>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" onmouseover="masInfoPijama(this)" onmouseout="menosInfoPijama(this)">
                            <img src="../img/categorias/mujeres/_MG_8109.jpg" class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <h6>Tercera pijama de prueba</h6>
                                <p>Precio: $10000000</p>
                                <div style="display: none;">
                                    <i class="fa fa-circle color-azulTurqueza"></i>
                                    <i class="fa fa-circle color-rojo"></i>
                                    <i class="fa fa-circle color-gris"></i>
                                    <br>
                                    <a href="#" class="badge badge-pill badge-colorGris"><i class="fa fa-eye color-gris" style="font-size: 3em;"></i></a>
                                </div>
                                <!--<a href="#" class="btn btn-primary">Ver Pijama</a>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" onmouseover="masInfoPijama(this)" onmouseout="menosInfoPijama(this)">
                            <img src="../img/categorias/mujeres/_MG_8109.jpg" class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <h6>Tercera pijama de prueba</h6>
                                <p>Precio: $10000000</p>
                                <div style="display: none;">
                                    <i class="fa fa-circle color-azulTurqueza"></i>
                                    <i class="fa fa-circle color-rojo"></i>
                                    <i class="fa fa-circle color-gris"></i>
                                    <br>
                                    <a href="#" class="badge badge-pill badge-colorGris"><i class="fa fa-eye color-gris" style="font-size: 3em;"></i></a>
                                </div>
                                <!--<a href="#" class="btn btn-primary">Ver Pijama</a>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" onmouseover="masInfoPijama(this)" onmouseout="menosInfoPijama(this)">
                            <img src="../img/categorias/mujeres/_MG_8109.jpg" class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <h6>Tercera pijama de prueba</h6>
                                <p>Precio: $10000000</p>
                                <div style="display: none;">
                                    <i class="fa fa-circle color-azulTurqueza"></i>
                                    <i class="fa fa-circle color-rojo"></i>
                                    <i class="fa fa-circle color-gris"></i>
                                    <br>
                                    <a href="#" class="badge badge-pill badge-colorGris"><i class="fa fa-eye color-gris" style="font-size: 3em;"></i></a>
                                </div>
                                <!--<a href="#" class="btn btn-primary">Ver Pijama</a>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" onmouseover="masInfoPijama(this)" onmouseout="menosInfoPijama(this)">
                            <img src="../img/categorias/mujeres/_MG_8109.jpg" class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <h6>Tercera pijama de prueba</h6>
                                <p>Precio: $10000000</p>
                                <div style="display: none;">
                                    <i class="fa fa-circle color-azulTurqueza"></i>
                                    <i class="fa fa-circle color-rojo"></i>
                                    <i class="fa fa-circle color-gris"></i>
                                    <br>
                                    <a href="#" class="badge badge-pill badge-colorGris"><i class="fa fa-eye color-gris" style="font-size: 3em;"></i></a>
                                </div>
                                <!--<a href="#" class="btn btn-primary">Ver Pijama</a>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" onmouseover="masInfoPijama(this)" onmouseout="menosInfoPijama(this)">
                            <img src="../img/categorias/mujeres/_MG_8109.jpg" class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <h6>Tercera pijama de prueba</h6>
                                <p>Precio: $10000000</p>
                                <div style="display: none;">
                                    <i class="fa fa-circle color-azulTurqueza"></i>
                                    <i class="fa fa-circle color-rojo"></i>
                                    <i class="fa fa-circle color-gris"></i>
                                    <br>
                                    <a href="#" class="badge badge-pill badge-colorGris"><i class="fa fa-eye color-gris" style="font-size: 3em;"></i></a>
                                </div>
                                <!--<a href="#" class="btn btn-primary">Ver Pijama</a>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" onmouseover="masInfoPijama(this)" onmouseout="menosInfoPijama(this)">
                            <img src="../img/categorias/mujeres/_MG_8109.jpg" class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <h6>Tercera pijama de prueba</h6>
                                <p>Precio: $10000000</p>
                                <div style="display: none;">
                                    <i class="fa fa-circle color-azulTurqueza"></i>
                                    <i class="fa fa-circle color-rojo"></i>
                                    <i class="fa fa-circle color-gris"></i>
                                    <br>
                                    <a href="#" class="badge badge-pill badge-colorGris"><i class="fa fa-eye color-gris" style="font-size: 3em;"></i></a>
                                </div>
                                <!--<a href="#" class="btn btn-primary">Ver Pijama</a>-->
                            </div>
                        </div>
                    </div>
                    <!--<div class="row">
                        <div class="col-sm-6 col-md-4">
                          <div class="thumbnail">
                            <img src="..." alt="...">
                            <div class="caption">
                              <h3>Thumbnail label</h3>
                              <p>...</p>
                              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                            </div>
                          </div>
                        </div>
                      </div>-->
                </div>
            </div>
        </div>
    </div>
    </div>

    <!--INICIO FOOTER-->
    <div th:replace="fragments/footer :: footer"></div>
    <!--FIN FOOTER-->
</body>

</html>